
body{
  width: 1000px;
  margin: auto;
  padding-top: 40px;
  font-size: 20px;
  font: 'courier';
}

.redacted{
background-color: black;
color: transparent;
user-select: none;
}

.revealed{
background-color: transparent;
color: red;
}
