body {
   background-color: #aaa;
   /* background:url("projet1/assets/images/background.jpeg"); */
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-family: "MS Sans Serif", Arial, sans-serif;
   height: 100%;
   width: 100%;
}

main{
    background-color: white;
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
}

.faucet{
width: 300px;
height: 200px;
}

.mouth{
  background-color: pink;
  width:600px;
  height:350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  padding-top:35px;
  border-radius: 15px;
}

#teeth1, #teeth2, #teeth3 , #teeth4 ,#teeth5, #teeth6, #teeth7,#teeth8 {
background-color: white;
width: 144px;
height: 130px

}

.introDialog{
  /* background: #EBCCCC;
  font-family: Verdana,Arial,sans-serif; */
}

.toothbrush{
  width: 20%;
  height: 50%;
}
/* .custom {
  cursor: url('assets/images/toothbrush.png'), auto;
} */
